<!DOCTYPE html>
{%extends 'base.html'%}
{%block body_block%}

<!--    <h1 class="one mt-5" style="text-align: center;">WELCOME</h1>-->

<div class="container-fluid">
    <div class="row mt-3">
        <div class="col-4 card p-3" style="width: 18rem;">
            <img src="{{mobile.image.url}}" class="card-img-top p-2" alt="...">
        </div>
        <div class="col-4 border">
                  <div class="card-body">
                    <h5 class="card-title">{{mobile.mobile_name}}</h5>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Brand:{{mobile.brand}}</li>
                    <li class="list-group-item">Price:{{mobile.price}}/-</li>
                    <li class="list-group-item">Memory:{{mobile.memory}}</li>
                    <li class="list-group-item">OS:{{mobile.os}}</li>
                    <li class="list-group-item">Specs:{{mobile.specs}}</li>

                  </ul>
                    <div class="card-body">
                    <a href="{%url 'addtocart' mobile.id%}" class="btn btn-primary">AddCart</a>
                  </div>

                </div>
        </div>
        <div class="col-4"></div>
    </div>
</div>
</div>
{%endblock%}